*{margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.bigimage{
    position: relative;
    background-image: url(images/donation.jpg);
    background-size: cover;
    filter:brightness(0.8);
   
}
.bigimage h1{width: 65%;
        color:white;font-size: 80px;
        padding: 15px;
        background: #a27b6336;
        
}
.bigimage p {
        width: 50%;
        color:white;
        background: #735c331f;
        padding: 7px;
}
.toffer{width: 100%;
    height:800px;
    font-size:26px;
    display: flex;
    color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);

}
.anchor-tag{text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;margin-top: 40px; 
    border-radius: 7px;

}
.donate-today{padding-top:90px;
    width: 100%;
    display: flex;
    color: black;
    flex-direction:column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);
}
.donate-today h1{font-size:80px;padding-bottom: 60px;} 
.donate-today p{font-size:26px;width: 60%;color:#130606ab;}  
.donate-maney{display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.donate-maney .donate-amount{
    background:rgba(222, 214, 214, 0.375);
    margin: 20px;
    margin-bottom: 5px;width: 155px;
    color: #2e2c2cd9;
    position: relative;
    border-radius: 7px;
    
}
.donate-maney .donate-amount h4{display: flex;
                    align-items: center;
                    justify-content: center;     
                    text-align: center;
                    font-size: 80px;
                    height: 130px;
}
.donate-amount-default{color:orange;
                    border: 1px solid rgb(227, 113, 25);
                    background: rgba(226, 225, 217, 0.704);
}
.wrapper{display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    padding-top: 100px;
    width: 100%;
    height:60px;

}
.wrapper .input-data{height: 40px ;
    position: relative ;
}

.wrapper .input-data input{height: 100%;
                    width: 100%;border: none;
                    border-bottom: 2px solid silver ;
                    font-size: 35px;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{transform: translateY(-20px);}
.wrapper .input-data label {position: absolute;
                bottom: 20px;
                left: 0;
                color: gray;
                pointer-events: none;
                transition: all 0.3s ease;
                font-size: 35px;
            }
.wrapper .input-data .underline{position: absolute;
    bottom: 0px;
    height: 2px; 
    width:100% ;}  
.donation{text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;margin-top: 40px; 
    border-radius: 7px;
    width: 190px;
    height:32px;display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 43%;
    font-size: 28px;
    }

.donation-lower-footer{padding-bottom: 100px;}
.add{text-decoration: none;
    padding: 10px 10px;
    background-color: orange;
    color: white;margin-top:2px; 
    border-radius: 7px;
    width: 163px;
    height:26px;display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 43%;
    font-size: 35px;s
}

.donate-plan-part1{padding-top: 125px;
    width: 100%;
    margin-bottom: 65px;
    display: flex;
    color: black;
    flex-direction:column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);}
.donate-plan-part1 h1{font-size:80px;padding-bottom: 60px;} 
.donate-plan-part1 p{font-size:26px;width: 60%;}
.donate-plan-part2{display: flex;
   justify-content: center;
    padding: 20px;
    border: 10px;
    width: 80%;
    margin-left: 9%
}
.padding{padding: 20px;
}
.donate-plan-part2 h3{font-size: 36px; 
    justify-content:left;
    padding-top: 20px;
   padding-bottom: 15px;
}
.donate-plan-part2 p{font-size: 22px;text-align: justify;}
.donate-plan-part2 .padding{margin:15px}
.donate-plan-one{ background:rgba(223, 185, 113, 0.625);}
.donate-plan-two{background:rgba(207, 187, 187, 0.375) ;}
.donate-plan-three{background:rgba(150, 150, 172, 0.77)}
.icons{  padding-top: 60px;

}

.donate-plan-one h3{padding-top: 96px;}
                        
.flexible-contaner {display: flex;padding-top: 70px;width: 82%;margin-left: 9%;
}
.half-wedth{width: 50%;
    padding: 2%;
}
.prag{
    font-size: 22px;padding-bottom: 30px;}
.half-wedth h1{ padding-top: 10px;
    padding-bottom: 20px;
    font-size: 48px;}
.half-wedth img{
            width:100%;
}
.anchor-tag { color:black;
    text-decoration: none;
    padding: 9px 29px;
    border-radius: 7px;
    font-size: 34px;
    background-color:orange;
} 
.toper-welcome{background-image:url(developer-portfolio-master/images/top-banner.png);               background-repeat:no-repeat;}
.contribute{}
.contribute-part1{padding-top: 130px;
    width: 100%;
    display: flex;
    color: black;
    flex-direction:column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);}
.contribute-part1 h1{font-size:80px;padding-bottom: 60px;}
.contribute-part1 p{font-size:26px;width: 60%;}
.footer{ position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;}
.footer h3{font-size: 50px;padding: 15px;color: orange}
.footer p{font-size: 28px;}