*{margin: 0px;
    padding: 0px;

}

.bigimage{
    position: relative;
    background-image: url(images/donation.jpg);
    background-size: cover;

}
.bigimage h1{width: 65%;
        color:white;font-size: 80px;
        
    }
.bigimage p{width: 50%;padding-top: 20px;color:white}
.toffer{width: 100%;
    height:800px;
    font-size:26px;
    display: flex;
    color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);


}
.anchor-tag{text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;margin-top: 40px; 
    border-radius: 7px;

}
.donate-today{padding-top: 200px;
    width: 100%;
    margin-bottom: 65px;
    display: flex;
    color: black;
    flex-direction:column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);}
.donate-today h1{font-size:80px;} 
.donate-today p{font-size:26px;width: 60%;} 
.donate-today h1{padding-bottom: 60px;}   
.donate-maney{display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.donate-maney .donate-amount{

    background:rgba(222, 214, 214, 0.375);
    margin: 20px;
    margin-bottom: 5px;width: 155px;
    color: #2e2c2cd9;
    position: relative;
    border-radius: 7px;
    
}
.donate-maney .donate-amount h4{display: flex;
                    align-items: center;
                    justify-content: center;     
                    text-align: center;
                    font-size: 80px;
                    height: 130px;
}
.donate-amount-default{color: rgb(227, 113, 25);
                    border: 1px solid rgb(227, 113, 25);
                    background: rgba(226, 225, 217, 0.704);
}
.wrapper{display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    padding-top: 100px;
    width: 100%;
    height:60px;



}
.wrapper .input-data{height: 40px ;
    position: relative ;

}

.wrapper .input-data input{height: 100%;
                    width: 100%;border: none;
                    border-bottom: 2px solid silver ;
                    font-size: 35px;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{transform: translateY(-20px);}
.wrapper .input-data label {position: absolute;
                bottom: 20px;
                left: 0;
                color: gray;
                pointer-events: none;
                transition: all 0.3s ease;
                font-size: 35px;
            }
.wrapper .input-data .underline{position: absolute;
 bottom: 0px;
height: 2px; 
width:100% ;}  
.donation{text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;margin-top: 40px; 
    border-radius: 7px;
    width: 100px;
    height:26px;display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 45%;}